@charset "UTF-8";

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('PretendardVariable.woff2') format('woff2-variations');
}

/* latin-ext */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("redhatdisplay_ext.woff2") format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("redhatdisplay.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("redhatdisplay_ext.woff2") format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
  /* latin */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("redhatdisplay.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("redhatdisplay_ext.woff2") format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("redhatdisplay.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  /* latin-ext */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("redhatdisplay_ext.woff2") format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("redhatdisplay.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
  /* latin-ext */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("redhatdisplay_ext.woff2") format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("redhatdisplay.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



html, body, h1, h2, h3, h4, h5, h6, div, p, 
blockquote, pre, code, address, ul, ol, li, 
menu, nav, section, article, aside, dl, dt, dd, 
table, thead, tbody, tfoot, label, caption, th, td, 
form, fieldset, legend, hr, input, button, textarea, 
object, figure, figcaption {
    margin:0;
    padding:0;
    font-family: "Pretendard Variable";
}
main, header, section, nav, footer, aside, article, figure {
    display:block;
}
html{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
html, body {
    overflow-x:hidden; /* 반응형 */
}
ul, ol, li {
    list-style:none;
}
h1, h2, h3, h4, strong, th {
    font-weight:normal;
    font-family:inherit;
    color:inherit;
}
a {
    color:inherit;
    text-decoration:none;
    outline:none;
}
i, em {font-style: normal;}


main{
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.vd_outer{
    position: relative;
}
.vd_outer::after{
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.7);
}
.vd_outer video{
    width: 100%;
    height: 100vh;
    object-fit: fill;
}

.wave-container{
    position: absolute;
    left: 10%;
    bottom: 40%;
    z-index: 9;
}

.wave-text span {
    display: inline-block;
    font-weight: 900;
    font-family: "Red Hat Display", sans-serif;
    font-size: 10rem;
    color: rgba(255,255,255,0.3);
    animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
    animation-delay: 0s;
}
.wave-text span:nth-child(2) {
    animation-delay: 0.2s;
}
.wave-text span:nth-child(3) {
    animation-delay: 0.4s;
}
.wave-text span:nth-child(4) {
    animation-delay: 0.6s;
}

@keyframes wave {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}




h1.loader{

    position: absolute;
    left: 10%;
    bottom: 10%;
    z-index: 9;


    text-align: center;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 4.6875em;
    color: transparent;
    letter-spacing: -0.5rem;

    font-weight: 900;
    font-family: "Red Hat Display", sans-serif;
}
.loader span{
text-shadow:
    0 0 2px rgba(204, 208, 212,0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 3px 4px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.45);

    animation: loading 0.85s ease-in-out infinite alternate;
}

@keyframes loading {
    to {text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}

.loader span:nth-child(2){
animation-delay:0.15s;
}
.loader span:nth-child(3){
animation-delay:0.30s;
}
.loader span:nth-child(4){
animation-delay:0.45s;
}
.loader span:nth-child(5){
animation-delay:0.60s;
}
.loader span:nth-child(6){
animation-delay:0.75s;
}
.loader span:nth-child(7){
animation-delay:0.90s;
}


















.warpper{}
.warpper .contents{

    margin: 0 auto;
    padding: 160px 0 0;
    max-width: 1280px;
    width: 100%;
}

.warpper .contents h2{
    font-family: "Pretendard Variable";
}
.warpper .contents .history_box h2{
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 10px;
    font-family: "Red Hat Display", sans-serif;
}



































/* 헤더 */
.header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color:rgba(51,51,51,0.85);
    transition: all 0.4s;
    z-index: 10000;
}
.header.main {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color:rgba(51,51,51,0);
}
.header.down{
    top: -150px;
}
.header .header_inner{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
    padding: 30px 0;
    max-width: 1280px;
    width: 100%;
}
.header .logo a{
    display: block; 
    padding:10px; 
    font-size: 22px; 
    color: #fff;
}
.header .logo a strong{
    font-weight: 700;
}

.header nav ul{
    display:flex;
    align-items: center;
    justify-content: center;
}
.header nav ul li{
    margin-left: 10px;
}
.header nav ul li a{
    display: block;
    padding: 2px 10px; 
    font-size: 18px; 
    color:#fff;
}





/* CONTACT */

.contact_box{
    padding:40px 0;

}


.contact_box .contact_box_inner{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.contact_box .iframe_outer{
    padding-right: 40px;
    width: 60%;
    border-radius: 30px;
    box-sizing: border-box;
}
.contact_box .iframe_outer iframe{
    overflow: hidden;
    width: 100%;
    height: 500px;
}

.contact_box .info_list{
    padding-top: 20px;
    padding-left: 40px;
    width: 40%;
    box-sizing: border-box;
}
.contact_box .info_list li{
    padding-bottom: 20px;
    width: 100%;
}
.contact_box .info_list li span{
    font-weight:300;
    font-size: 1rem;
}
.contact_box .info_list li p{
    font-weight: 500;
    font-size: 1.2rem;
}





































/* 애니메이션 */
#section1.active .ani-01 {
    animation: fadeLeft 0.7s 0.5s both;
}
#section1.active .ani-02 {
    animation: fadeLeft 1s 0.8s both;
}
#section2.active .ani-01 {
    animation: fadeUp 0.8s 0.3s both;
}
#section2.active .ani-02 {
    animation: fadeLeft 1s 0.8s both;
}
#section2.active .ani-03 {
    animation: fadeRight 1s 1.2s both;
}
#section3.active .ani-01 {
    animation: fadeUp 0.6s 0.6s both;
}
#section3.active .ani-02 {
    animation: fadeUp 0.7s 0.9s both;
}




@keyframes fadeIn {
	0%{ 
        opacity: 0;
    }
	100%{ 
        opacity: 1;
    }
}
@keyframes fadeUp {
	0%{
        transform:translateY(80px);
        opacity: 0;
    }
	100%{
        transform:translateY(0); 
        opacity: 1;
    }
}
@keyframes fadeLeft {
	0%{
        transform:translateX(-80px); 
        opacity: 0;
    }
	100%{
        transform:translateX(0); 
        opacity: 1;}
}
@keyframes fadeRight {
	0%{
        transform:translateX(80px);
        opacity: 0;
    }
	100%{
        transform:translateX(0); 
        opacity: 1;
    }
}
@keyframes up {
	0%{
        transform:translateY(120%);
    }
	100%{
        transform:translateY(0);
    }
}
@keyframes moveTxt {
	0%{
        transform:translateX(-20px);
        opacity: 0;
    }
	100%{
        transform:translateX(0); 
        opacity: 1;
    }
}

@media only screen and (max-width: 1023px) {






}















