@charset "UTF-8";

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('PretendardVariable.woff2') format('woff2-variations');
}
/* latin-ext */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("redhatdisplay_ext.woff2") format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("redhatdisplay.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("redhatdisplay_ext.woff2") format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("redhatdisplay.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("redhatdisplay_ext.woff2") format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("redhatdisplay.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("redhatdisplay_ext.woff2") format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("redhatdisplay.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("redhatdisplay_ext.woff2") format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("redhatdisplay.woff2") format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body, h1, h2, h3, h4, h5, h6, div, p, 
blockquote, pre, code, address, ul, ol, li, 
menu, nav, section, article, aside, dl, dt, dd, 
table, thead, tbody, tfoot, label, caption, th, td, 
form, fieldset, legend, hr, input, button, textarea, 
object, figure, figcaption {
    margin:0;
    padding:0;
    font-family: "Pretendard Variable";
}
main, header, section, nav, footer, aside, article, figure {
    display:block;
}
html{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}
html, body {
    overflow-x:hidden; /* 반응형 */
    background: #000;
}
ul, ol, li {
    list-style:none;
}
h1, h2, h3, h4, strong, th {
    font-weight:normal;
    font-family:inherit;
    color:inherit;
}
a {
    color:inherit;
    text-decoration:none;
    outline:none;
}
i, em {
    font-style: normal;
}
.only_pc{
    display: block;
}
.only_mo{
    display: none;
}
.warpper{
    overflow: hidden;
    position: relative;
    width: 100%;
}
.warpper .contents{
    position: relative;
    width: 100%;
}
.warpper .contents .contents_inner{
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.warpper .contents .contents_inner .box{
    position: relative;
    margin: 0 auto;
    padding: 0 1.25rem;
    max-width: 1240px;
    width: 100%;
}
.warpper .contents h2{
    font-family: "Pretendard Variable";
}
.warpper .contents .history_box h2{
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 0.625rem;
    font-family: "Red Hat Display", sans-serif;
}

/* start : HEADER */
.header {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    border-bottom: 1px;
    box-sizing: border-box;
    z-index: 999;
    transition: all 0.4s;
}
.header.main {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    background-color:rgba(51,51,51,0);
}
.header.bg{
    background-color:rgba(0,0,0,0.8);
}
.header.down{
    top: -150px;
}
.header .header_inner{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:0 auto;
    padding: 1.9rem 0;
    max-width: 1280px;
    width: 100%;
}
.header .logo a{
    display: block; 
    padding:0.65rem; 
    font-size: 1.5rem; 
    color: #fff;
}
.header .logo a strong{
    font-weight: 700;
}
.header nav ul{
    display:flex;
    align-items: center;
    justify-content: center;
}
.header .header_inner nav ul li{
    margin-left: 0.625rem;
}
.header .header_inner nav ul li a{
    display: block;
    padding: 0.13rem 0.65rem; 
    font-size: 1.25rem; 
    color:#fff;
}
.header .header_inner nav ul li.on a{
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.header .header_inner nav ul li a:before, 
.header .header_inner nav ul li a:after {
	display: inline-block;
	opacity: 0;
	transition: transform 0.3s, opacity 0.2s;
}
.header .header_inner nav ul li a:before {
	margin-right: 0.4375rem;
	content: '[';
	transform: translateX(20px);
}
.header .header_inner nav ul li a:after {
	margin-left: 0.4375rem;
	content: ']';
	transform: translateX(-20px);
}
.header .header_inner nav ul li a:hover:before,
.header .header_inner nav ul li a:hover:after,
.header .header_inner nav ul li a:focus:before, 
.header .header_inner nav ul li a:focus:after {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	transform: translateX(0);
}
/* end : HEADER */

/* start : MAIN PAGE */
main{
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.vd_outer{
    position: relative;
    height: 100%;
}
.vd_outer::after{
    content: "";
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.7);
}
.vd_outer video{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.copy_txt{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 7;
}
.copy_txt a{
    font-size: 0.5rem;
    color: #000;
}
/* shadow motion */
.main_title{
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%,-50%);
    max-width: 1280px;
    width: 100%;
    text-align: center;
    line-height: 1;
    letter-spacing: -0.95rem;
    font-weight: 900;
    font-family: "Red Hat Display", sans-serif;
    font-size: 8.5rem;
    color: transparent;
    /* text-transform: uppercase; */
    z-index: 9;
}
.main_title br{
    display: none;
}
.main_title span{
    text-shadow:
    0 0 2px rgba(204, 208, 212,0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 3px 4px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.45);
    animation: main_title 1s ease-in-out infinite alternate;
}
@keyframes main_title {
    to {text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}
.main_title span:nth-child(2){
    animation-delay:0.15s;
}
.main_title span:nth-child(3){
    animation-delay:0.3s;
}
.main_title span:nth-child(4){
    animation-delay:0.45s;
}
.main_title span:nth-child(5){
    animation-delay:0.6s;
}
.main_title span:nth-child(6){
    animation-delay:0.75s;
}
.main_title span:nth-child(7){
    animation-delay:0.9s;
}
.main_title span:nth-child(8){
    animation-delay:1.05s;
}
.main_title span:nth-child(9){
    animation-delay:1.3s;
}
.main_title span:nth-child(10){
    animation-delay:1.45s;
}
.main_title span:nth-child(11){
    animation-delay:1.6s;
}
.main_title span:nth-child(12){
    animation-delay:1.75s;
}
.main_title span:nth-child(13){
    animation-delay:1.9s;
}
.main_title span:nth-child(14){
    animation-delay:2.05s;
}
/* end : MAIN PAGE */

/* start : PAGE TOP */
.warpper .top_box{
    position: relative;
    width: 100%;
    height: 32.25rem;
}
.warpper .top_box::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.4);
    z-index: 3;
}
.warpper .top_box .top_box_inner{
    position: relative;
    width: 100%;
    height: 100%;
}
.warpper .top_box .top_box_inner h2{
    position: relative;
    margin: 0 auto;
    padding: 16rem 0 0;
    max-width: 1280px;
    text-align: center;
    font-weight: 900;
    font-family: "Red Hat Display", sans-serif;
    font-size: 4rem;
    color: #fff;
    text-shadow:2px 2px 8px rgb(61 72 83 / 90%);
    z-index: 9;
}
.warpper .top_box.company{
    background:url("../imgs/bg_compay.jpg") no-repeat 50%/cover;
}
.warpper .top_box.company::before{
    background:rgba(0,0,0,0.6);
}
.warpper .top_box.team{
    background:url("../imgs/bg_team01.jpg") no-repeat 50%/cover;
}
.warpper .top_box.contact{
    background:url("../imgs/bg_contact.jpg") no-repeat 50% 55%/cover;
}
.warpper .top_box.contact::before{
    background:rgba(0,0,0,0.6);
}
/* end : PAGE TOP */

/* start : COMPANY  */
.warpper .contents .contents_inner .box.history_tit_box{
    padding: 6rem 0 2.5rem;
    max-width: 100%;
    background-color: #000;
}
.warpper .contents .contents_inner .box.history_tit_box .history_tit_box_inner{
    margin: 0 auto;
    padding: 0 1.25rem;
    max-width: 1240px;
}
.history_tit_box h2 p{
    text-align: right;
    line-height: 1;
    letter-spacing: -0.01rem;
    font-weight: 700;
    font-size: 3.8rem;
    color: #dbdbdb;
    box-sizing: border-box;
}
.history_tit_box h2 p.top{
    padding:0 0.4rem 0 0;
    color: #fff;
}
.history_tit_box h2 p.mid{
    padding: 0.4rem 0.8rem 0;
    font-size: 2.5rem;
}
.history_tit_box h2 p.btm{
    color: #fff;
}
.warpper .contents .contents_inner .box.aspiration_box{
    position: relative;
    padding: 2rem 0 4rem;
    background-color:#000;
}
.warpper .contents .contents_inner .box.aspiration_box::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
}
.warpper .contents .contents_inner .box.aspiration_box .aspiration_box_inner{
    margin: 0 auto;
    padding: 0 1.25rem;
    max-width: 1240px;
    text-align: right;
}
.aspiration_box ul{
    position: relative;
    padding: 0;
    z-index: 9;
}
.aspiration_box ul li{
    padding: 0 0 0.5rem;
    letter-spacing: -0.06rem;
    font-weight: 400;
    font-size: 1.15rem;
    color: #d7d7d7;
}
.aspiration_box ul li strong{
    font-weight: 500;
    color: #fff;
}
.warpper .contents .contents_inner .box.philosophy_box{
    padding: 5rem 0 3rem;
    max-width: 100%;
    background-color: #000;
}
.warpper .contents .contents_inner .box.philosophy_box .philosophy_box_inner{
    margin: 0 auto;
    padding: 0 1.25rem;
    max-width: 1240px;
}
.philosophy_box h2{
    padding: 1rem 0 0;
    font-weight: 700;
    font-size: 2.4rem;
    color: #fff;
}
.philosophy_box dl{
    padding: 3rem 0 1rem;
    line-height: 1.5;
    color: #fff;
}
.philosophy_box dl dt{
    font-weight: 700;
    letter-spacing: -0.02rem;
    font-size: 1.35rem;
}
.philosophy_box dl dd{
    padding: 1rem 0 2rem;
    letter-spacing: -0.03rem;
    font-size: 1.25rem;
}
.philosophy_box dl dd ul li{
    position: relative;
    padding-left: 1rem;
    word-break: keep-all;
}
.philosophy_box dl dd ul li::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0.85rem;
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
}
.warpper .contents .contents_inner .box.history_list_box{
    padding: 3rem 0 8rem;
    max-width: 100%;
    background-color: #000;
}
.warpper .contents .contents_inner .box.history_list_box .history_list_box_inner{
    margin: 0 auto;
    padding: 0 1.25rem;
    max-width: 1240px;
}
.history_list_box h2{
    padding: 1rem 0 3rem;
    font-weight: 700;
    font-size: 2.4rem;
    color: #fff;
}
.history_list_box ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.history_list_box ul li.first{
    padding: 0 0 2rem;
}
.history_list_box ul li.first p{
    font-size: 1.3rem;
    color: #bfbfbf;
}
.history_list_box ul li p{
    font-size: 1.4rem;
    color: #fff;
}
.history_list_box ul li p.h_year{
    min-width: 100px;
}
.history_list_box ul li p.h_tit{
    width: calc(100% - 100px);
}
/* end : COMPANY  */

/* start : TEAM  */
.warpper .contents .contents_inner .box.team_box{
    padding: 6rem 0 10rem;
    max-width: 100%;
    background-color: #000;
}
.warpper .contents .contents_inner .box.team_box .team_box_inner{
    overflow: hidden;
    margin: 0 auto;
    padding: 0 1.25rem;
    max-width: 1240px;
}
.team_box ul li{
    padding: 3rem 0 1rem;
    text-align: left;
}
.team_box ul li .member{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.team_box ul li .member strong{
    font-weight: 500;
    font-size: 1.4rem;
    color:#fff;
}
.team_box ul li .member span{
    display: inline-block;
    padding-left: 1rem;
    font-size: 1.1rem;
    color: #eee;
}
.team_box ul li .word{
    padding: 1em 0 3rem;
    word-break: keep-all;
    line-height: 1.7;
    font-size: 1.38rem;
    color:#fff;
}
.contents .line{
    margin: 0.2rem 0;
    width: 100%;
    height: 1px;
    background-color: #d7d7d7;
}
.scroll_on {
    opacity: 0;
    transition: all 1.2s;
}
.scroll_on.active {
    opacity: 1 !important;
    transform: translate(0, 0) !important;
}
.scroll_on.type_top {
    transform: translate(0, -50px);
}
.scroll_on.type_bottom {
    transform: translate(0, 50px);
}
.scroll_on.type_left {
    transform: translate(-22%, 0);
}
.scroll_on.type_right {
    transform: translate(50px, 0);
}
.contents .line.last{
    display: none;
}
/* end : TEAM  */

/* start : CONTACT */
.warpper .contents .contents_inner .box.contact_box{
    padding: 7.5rem 0;
    max-width: 100%;
    background-color: #000;
}
.warpper .contents .contents_inner .box.contact_box .contact_box_inner{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.25rem;
    max-width: 1240px;
    box-sizing: border-box;
}
.contact_box .iframe_outer{
    padding-right: 1.875rem;
    width: 70%;
    box-sizing: border-box;
}
.contact_box .iframe_outer iframe{
    overflow: hidden;
    width: 100%;
    height: 500px;
    border-radius: 1.875rem;
    box-sizing: border-box;
}
.contact_box .info_list{
    padding:0 0 1.25rem 1.875rem;
    width: 30%;
    box-sizing: border-box;
}
.contact_box .info_list li{
    margin: 1.25rem 0 0;
    padding: 1.25rem 0 0;
    width: 100%;
    box-sizing: border-box;
}
.contact_box .info_list li + li{
    border-top: 1px solid #ddd;
}
.contact_box .info_list li span{
    display: inline-block;
    padding:0 0 0.625rem;
    font-weight:300;
    font-size: 1rem;
    color: #e1e1e1;
}
.contact_box .info_list li p{
    line-height: 1.25;
    font-weight: 500;
    font-size: 1.25rem;
    color: #fff;
}
.contact_box .info_list li .mail a{
    text-decoration: underline;
    color: #fff;
}

/* end : CONTACT */

@media only screen and (max-width: 1023px) {

    .only_pc{
        display: none;
    }
    .only_mo{
        display: block;
    }

    /* start : HEADER */
    .header .btn_hamburger{
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
        width: 30px;
        height: 30px;
        text-align: center;
        color: #ecf0f1;
        box-sizing: border-box;
        cursor: pointer;
    }
    .header .btn_hamburger .hamburger .line {
        display: block;
        margin: 5px auto;
        width: 30px;
        height: 4px;
        background-color: #ecf0f1;
        transition: all 0.3s ease-in-out;
    }
    .header .btn_hamburger .hamburger.is-active {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
        transform: rotate(45deg);
    }
    .header .btn_hamburger .hamburger.is-active .line:nth-child(2){
        width: 0;
    }
    .header .btn_hamburger .hamburger.is-active .line:nth-child(1),
    .header .btn_hamburger .hamburger.is-active .line:nth-child(3){
        transition-delay: 0.3s;
    }
    .header .btn_hamburger .hamburger.is-active .line:nth-child(1){
        transform: translateY(9px);
    }
    .header .btn_hamburger .hamburger.is-active .line:nth-child(3){
        transform: translateY(-9px) rotate(90deg);
    }
    .nav_side{
        position: fixed;
        right: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 99;
        transition: right 0.4s;
    }
    .nav_side.on{
        right:0;
    }
    .nav_side .nav_side_inner{
        position: relative;
        padding: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
    .nav_side .nav_side_inner ul{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .nav_side .nav_side_inner ul li{
        padding: 0 0 1rem;
        text-align: center;
    }
    .nav_side .nav_side_inner ul li a{
        display: inline-block;
        padding: 1rem 0;
        font-size: 2rem;
        color: #fff;
    }
    .header .header_inner{
        padding: 0;
    }
    .header .logo a{
        margin: 0.3rem 0 0;
        padding: 1.25rem;
        letter-spacing: -0.012rem;
        font-size: 1.25rem;
    }
    /* end : HEADER */

    /* start : MAIN PAGE */
    .main_title{
        right: 4%;
        letter-spacing: -0.8rem;
        font-size: 7.3rem;
    }
    .main_title .top{
        letter-spacing: -1rem;
        font-size: 8.2rem;
    }
    .main_title .btm{
        margin-top: -1rem;
    }
    /* end : MAIN PAGE */

    /* start : PAGE TOP */
    .warpper .top_box {
        height: 20.25rem;
    }
    .warpper .top_box .top_box_inner h2{
        padding: 10rem 0 0;
        font-weight: 700;
        font-size: 2.25rem;
    }
    /* end : PAGE TOP */

    /* start : COMPANY */
    .warpper .contents .contents_inner .box.history_tit_box{
        padding: 3rem 0 2rem;
    }
    .history_tit_box h2 p{
        font-size: 2.1rem;
    }
    .history_tit_box h2 p.top{
        padding:0;
    }
    .history_tit_box h2 p.mid{
        padding: 0.4rem 0.2rem 0;
        font-size: 2rem;
    }
    .warpper .contents .contents_inner .box.aspiration_box{
        padding: 1rem 0 3rem;
    }
    .aspiration_box ul{
        padding:0;
    }
    .aspiration_box ul li{
        padding: 0.2rem 0 0;
        line-height: 1.5;
        letter-spacing: -0.03rem;
        font-size: 0.9rem;
        word-break: keep-all;
    }
    .warpper .contents .contents_inner .box.philosophy_box{
        padding: 1.5rem 0 3rem;
    }
    .philosophy_box h2 {
        padding: 0.5rem 0 0;
        font-weight: 500;
        font-size: 1.75rem;
    }
    .philosophy_box dl {
        padding: 2rem 0 0;
        line-height: 1.5;
        color: #fff;
    }
    .philosophy_box dl dt {
        font-weight: 500;
        font-size: 1.15rem;
    }
    .philosophy_box dl dd{
        font-size: 1.1rem;
    }
    .philosophy_box dl dd ul li{
        padding-left: 0.85rem;
    }
    .philosophy_box dl dd ul li::before{
        top: 0.7rem;
    }
    .warpper .contents .contents_inner .box.history_list_box{
        padding: 0 0 8rem;
    }
    .history_list_box h2{
        padding: 0 0 2rem;
        font-weight: 500;
        font-size: 1.8rem;
    }
    .history_list_box ul li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .history_list_box ul li.first{
        padding: 0 0 1rem;
    }
    .history_list_box ul li.first p{
        font-size: 1.15rem;
    }
    .history_list_box ul li p{
        font-size: 1.15rem;
    }
    .history_list_box ul li p.h_year{
        min-width: 80px;
    }
    .history_list_box ul li p.h_tit{
        width: calc(100% - 80px);
    }
    /* end : COMPANY */

    /* start : TEAM */
    .warpper .contents .contents_inner .box.team_box{
        padding: 3rem 0 9rem;
    }
    .team_box ul li{
        padding: 1.5rem 0 1rem;
    }
    .team_box ul li .member strong{
        font-size: 1.25rem;
    }
    .team_box ul li .member span{
        font-size: 1rem;
    }
    .team_box ul li .word {
        padding: 1em 0 2.25rem;
        line-height: 1.6;
        font-size: 1.05rem;
    }
    /* end : TEAM */

    /* start : CONTACT */
    .warpper .contents .contents_inner .box.contact_box{
        padding: 3rem 0 9rem;
    }
    .warpper .contents .contents_inner .box.contact_box .contact_box_inner{
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    .contact_box .iframe_outer{
        padding-right: 0;
        width: 100%;
    }
    .contact_box .iframe_outer iframe{
        width: 100%;
        height: 320px;
        border-radius: 1.25rem;
    }
    .contact_box .info_list{
        padding:0;
        width: 100%;
    }
    .contact_box .info_list li{
        margin: 1rem 0 0;
        padding: 1rem 0 0;
    }
    .contact_box .info_list li span{
        padding:0 0 0.625rem;
        font-size: 0.9rem;
    }
    .contact_box .info_list li p{
        line-height: 1.25;
        font-size: 1.15rem;
        color: #fff;
    }
    /* end : CONTACT */

}


@media only screen and (max-width: 767px) {

    /* start : MAIN PAGE */
    main{
        /* height: 100vh; */
        height:calc(var(--vh, 1vh) * 100);
    }    
    .main_title{
        letter-spacing: -0.38rem;
        font-size: 3rem;
    }
    .main_title br{
        display: block;
    }
    .main_title span{
        animation: main_title 1.5s ease-in-out infinite alternate;
    }
    /* end : MAIN PAGE */
    /* start : COMPANY */
    .warpper .contents .contents_inner .box.aspiration_box {
        padding: 1rem 0 3rem;
    }
    .aspiration_box ul{
        margin-bottom: 0;
    }
    .aspiration_box ul li{
        padding: 0;
        font-size: 0.95rem;
    }
    .aspiration_box ul li strong{
        font-weight: 400;
    }
    .philosophy_box h2{
        font-size: 1.4rem;
    }
    .philosophy_box dl dd ul li {
        padding-left: 0.7rem;
    }
    .philosophy_box dl dd ul li::before {
        top: 0.65rem;
    }
    .philosophy_box dl{
        padding: 1.5rem 0 0;
    }
    .philosophy_box dl dd {
        font-size: 1rem;
    }
    /* end : COMPANY */


}













